In [36]:
import pandas as pd;
import numpy as np;

### 1. Import csv data from file

In [11]:
adult_df = pd.read_csv('adult.csv')

In [12]:
adult_df # Get glimpse of data

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32557,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32558,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32559,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32560,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K

In [13]:
adult_df.info() #Column info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education.num   32561 non-null  int64
 5   marital.status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital.gain    32561 non-null  int64
 11  capital.loss    32561 non-null  int64
 12  hours.per.week  32561 non-null  int64
 13  native.country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [34]:
adult_df['age'].value_counts() # Distinct values & their count for the age column

36    898
31    888
34    886
23    877
35    876
     ...
83      6
85      3
88      3
87      1
86      1
Name: age, Length: 73, dtype: int64

In [35]:
adult_df['workclass'].value_counts()

Private             22696
Self-emp-not-inc     2541
Local-gov            2093
?                    1836
State-gov            1298
Self-emp-inc         1116
Federal-gov           960
Without-pay            14
Never-worked            7
Name: workclass, dtype: int64

In [47]:
# Here '?' is a missing value for workclass. Replace it with NaN, so that it can be considered as missing value
# and can be filled with appropriate value in next section(missing value analysis)

adult_df['workclass'] = adult_df['workclass'].replace('?', np.NaN)

In [48]:
adult_df['workclass'].value_counts()

Private             22696
Self-emp-not-inc     2541
Local-gov            2093
State-gov            1298
Self-emp-inc         1116
Federal-gov           960
Without-pay            14
Never-worked            7
Name: workclass, dtype: int64

In [44]:
adult_df['workclass'].isna().sum()

1836

In [45]:
adult_df['fnlwgt'].value_counts()

123011    13
203488    13
164190    13
126675    12
121124    12
          ..
36376      1
78567      1
180407     1
210869     1
125489     1
Name: fnlwgt, Length: 21648, dtype: int64

In [46]:
adult_df['education'].value_counts()

HS-grad         10501
Some-college     7291
Bachelors        5355
Masters          1723
Assoc-voc        1382
11th             1175
Assoc-acdm       1067
10th              933
7th-8th           646
Prof-school       576
9th               514
12th              433
Doctorate         413
5th-6th           333
1st-4th           168
Preschool          51
Name: education, dtype: int64

In [49]:
# Here 'Some-college' is not an appropriate value for 'education column'.
# Replace it with NaN, so that it can be considered as missing value
# and can be filled with appropriate value in next section(missing value analysis)

adult_df['education'] = adult_df['education'].replace('Some-college', np.NaN)

In [50]:
adult_df['education'].value_counts()

HS-grad        10501
Bachelors       5355
Masters         1723
Assoc-voc       1382
11th            1175
Assoc-acdm      1067
10th             933
7th-8th          646
Prof-school      576
9th              514
12th             433
Doctorate        413
5th-6th          333
1st-4th          168
Preschool         51
Name: education, dtype: int64

In [51]:
adult_df['education.num'].value_counts()

9     10501
10     7291
13     5355
14     1723
11     1382
7      1175
12     1067
6       933
4       646
15      576
5       514
8       433
16      413
3       333
2       168
1        51
Name: education.num, dtype: int64

### 2. Missing value analysis

In [16]:
adult_df['age'].isna().sum() # count missing values in age column

0

In [17]:
adult_df['workclass'].isna().sum() # count missing values in workclass column

0

In [18]:
adult_df['fnlwgt'].isna().sum() # count missing values in fnlwgt column

0

In [19]:
adult_df['education'].isna().sum() # count missing values in education column

0

In [20]:
adult_df['education.num'].isna().sum() # count missing values in education.num column

0

In [21]:
adult_df['marital.status'].isna().sum() # count missing values in marital.status column

0

In [22]:
adult_df['occupation'].isna().sum() # count missing values in occupation column

0

In [23]:
adult_df['relationship'].isna().sum() # count missing values in relationship column

0

In [24]:
adult_df['race'].isna().sum() # count missing values in race column

0

In [25]:
adult_df['sex'].isna().sum() # count missing values in sex column

0

In [27]:
adult_df['capital.gain'].isna().sum() # count missing values in capital.gain column

0

In [28]:
adult_df['capital.loss'].isna().sum() # count missing values in capital.loss column

0

In [29]:
adult_df['hours.per.week'].isna().sum() # count missing values in hours.per.week column

0

In [30]:
adult_df['native.country'].isna().sum() # count missing values in native.country column

0

In [31]:
adult_df['income'].isna().sum() # count missing values in income column

0

In [33]:
temp = adult_df.dropna()
temp

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32557,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32558,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32559,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32560,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K